.modaldialoglightbox {
  background-color: #000000;
  bottom: 0;
  opacity: 0.4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.dialogpositioner {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 11;
}
.dialog {
  background-color: #fafafa;
  border-radius: 0.3rem;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 40px;
  z-index: 12;
}
.dialog.sizelarge {
  max-width: 960px;
  min-width: 300px;
  width: 75%;
}
.dialog.sizemedium {
  max-width: 740px;
  min-width: 300px;
  width: 60%;
}
.dialog.sizesmall {
  max-width: 500px;
  min-width: 320px;
  width: 40%;
}
.dialog.sizemobile {
  box-shadow: 2px 2px 4px 1px #202025;
  max-width: 500px;
  width: 95%;
}
.dialog header {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding: 0.2rem 0 0.25rem 0;
  width: 100%;
}
.dialog header h1 {
  font-family: blessed-facit-regular, Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #ffffff;
  display: block;
  font-size: 1.3rem;
  margin: 0.5rem 0;
  text-align: center;
  width: 100%;
}
.dialog header.default {
  background-color: #0b66ad;
}
.dialog header.warn {
  background-color: #fe9800;
}
.dialog .dialogbody {
  font-size: 1rem;
  padding: 2rem;
}
.dialog .dialogbody .rightoficon {
  display: inline-block;
  vertical-align: top;
}
.dialog .dialogbody.scrollable {
  margin-bottom: 5px;
  max-height: 400px;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  position: relative;
  top: 5px;
}
.dialog .dialogbody .dialog-text {
  font-family: blessed-facit-light, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: #202025;
}
.dialog .dialogbody .icon-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 1rem 0;
  min-width: 50px;
  padding: 0;
  width: 15%;
}
.dialog .dialogbody .content-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 0 0 0.75rem;
  width: 83%;
}
.dialog footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 64px;
  padding: 0 2rem 2rem 2rem;
  width: 100%;
}
.dialog p {
  line-height: 1.4em;
  margin: 0;
}
