/*
 * ///////////////////////////////////////////////////////////////////////////////
 * //                                                                           //
 * //                                   Facit                                   //
 * //                                                                           //
 * ///////////////////////////////////////////////////////////////////////////////
*/

@font-face {
	font-family: 'Facit-Extralight';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FXL.eot),
		url(font/facit/FXL.woff) format('woff'),
		url(font/facit/FXL.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Facit-Extralight';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FXL-i.eot),
		url(font/facit/FXL-i.woff) format('woff'),
		url(font/facit/FXL-i.ttf) format('truetype');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'Facit-Extralight';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FL.eot),
		url(font/facit/FL.woff) format('woff'),
		url(font/facit/FL.ttf) format('truetype');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'Facit-Extralight';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FL-i.eot),
		url(font/facit/FL-i.woff) format('woff'),
		url(font/facit/FL-i.ttf) format('truetype');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: 'Facit-Light';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FL.eot),
		url(font/facit/FL.woff) format('woff'),
		url(font/facit/FL.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Facit-Light';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FL-i.eot),
		url(font/facit/FL-i.woff) format('woff'),
		url(font/facit/FL-i.ttf) format('truetype');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'Facit-Light';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FR.eot),
		url(font/facit/FR.woff) format('woff'),
		url(font/facit/FR.ttf) format('truetype');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'Facit-Light';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FR-i.eot),
		url(font/facit/FR-i.woff) format('woff'),
		url(font/facit/FR-i.ttf) format('truetype');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: 'Facit-Regular';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FR.eot),
		url(font/facit/FR.woff) format('woff'),
		url(font/facit/FR.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Facit-Regular';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FR-i.eot),
		url(font/facit/FR-i.woff) format('woff'),
		url(font/facit/FR-i.ttf) format('truetype');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'Facit-Regular';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FSB.eot),
		url(font/facit/FSB.woff) format('woff'),
		url(font/facit/FSB.ttf) format('truetype');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'Facit-Regular';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FSB-i.eot),
		url(font/facit/FSB-i.woff) format('woff'),
		url(font/facit/FSB-i.ttf) format('truetype');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: 'Facit-Semibold';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FSB.eot),
		url(font/facit/FSB.woff) format('woff'),
		url(font/facit/FSB.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Facit-Semibold';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FSB-i.eot),
		url(font/facit/FSB-i.woff) format('woff'),
		url(font/facit/FSB-i.ttf) format('truetype');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'Facit-Semibold';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FB.eot),
		url(font/facit/FB.woff) format('woff'),
		url(font/facit/FB.ttf) format('truetype');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'Facit-Semibold';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FB-i.eot),
		url(font/facit/FB-i.woff) format('woff'),
		url(font/facit/FB-i.ttf) format('truetype');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: 'Facit-Bold';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FB.eot),
		url(font/facit/FB.woff) format('woff'),
		url(font/facit/FB.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Facit-Bold';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FB-i.eot),
		url(font/facit/FB-i.woff) format('woff'),
		url(font/facit/FB-i.ttf) format('truetype');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'Facit-Bold';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FXB.eot),
		url(font/facit/FXB.woff) format('woff'),
		url(font/facit/FXB.ttf) format('truetype');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'Facit-Bold';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FXB-i.eot),
		url(font/facit/FXB-i.woff) format('woff'),
		url(font/facit/FXB-i.ttf) format('truetype');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: 'Facit-Extrabold';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FXB.eot),
		url(font/facit/FXB.woff) format('woff'),
		url(font/facit/FXB.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Facit-Extrabold';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FXB-i.eot),
		url(font/facit/FXB-i.woff) format('woff'),
		url(font/facit/FXB-i.ttf) format('truetype');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'blessed-facit-light';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FL.eot),
		url(font/facit/FL.woff) format('woff'),
		url(font/facit/FL.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'blessed-facit-light';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FR.eot),
		url(font/facit/FR.woff) format('woff'),
		url(font/facit/FR.ttf) format('truetype');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'blessed-facit-regular';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FR.eot),
		url(font/facit/FR.woff) format('woff'),
		url(font/facit/FR.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'blessed-facit-regular';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FR-i.eot),
		url(font/facit/FR-i.woff) format('woff'),
		url(font/facit/FR-i.ttf) format('truetype');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'blessed-facit-regular';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FSB.eot),
		url(font/facit/FSB.woff) format('woff'),
		url(font/facit/FSB.ttf) format('truetype');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'blessed-facit-regular';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FSB-i.eot),
		url(font/facit/FSB-i.woff) format('woff'),
		url(font/facit/FSB-i.ttf) format('truetype');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: 'blessed-facit-semibold';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FSB.eot),
		url(font/facit/FSB.woff) format('woff'),
		url(font/facit/FSB.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'blessed-facit-semibold';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FSB-i.eot),
		url(font/facit/FSB-i.woff) format('woff'),
		url(font/facit/FSB-i.ttf) format('truetype');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'blessed-facit-semibold';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FB.eot),
		url(font/facit/FB.woff) format('woff'),
		url(font/facit/FB.ttf) format('truetype');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'blessed-facit-semibold';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FB-i.eot),
		url(font/facit/FB-i.woff) format('woff'),
		url(font/facit/FB-i.ttf) format('truetype');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: 'blessed-facit-bold';
	src: local('Athena-Nonexistent-Local-Font'),
		url(font/facit/FB.eot),
		url(font/facit/FB.woff) format('woff'),
		url(font/facit/FB.ttf) format('truetype');
	font-style: normal;
	font-weight: bold;
}