<div class="rowcontainer">
    <div class="apptpar">
        <h2><%= par %></h2>
        <p class="upcomingsecondline"><%= providerName %></p>
    </div>
    <div class="appttimeloc">
        <h2 class="datetimeheading"><%= dayOfWeek %>, <%= selectedDate %></h2>
        <p class="upcomingsecondline">Somerset Main Office | <a href="#">Directions</a></p>
    </div>
    <div class="apptactions">
        <button type="button"
                data-appt-id="<%= apptId %>"
                data-par="<%= par %>"
                data-provider-id="<%= providerId %>"
                data-selected-date="<%= selectedDate %>"
                class="btn default recbtn p-recommended">
            Find Appointments
        </button>
    </div>
    <% if (hasInstructions) { %>
    <div id="instfor-<%= apptId %>" class="apptinstrandforms">
        <h3 class="p-showmorelessheading instrheading">Instructions for visit</h3>
        <p>
            Make sure you go to your appointment, bring stuff, we'll bill for helping you,
            at some point someone will pay us something, and then we'll bill you.
        </p>
        <h3>Learn More</h3>
        <p>
            Did you know that about one in three American adults have high blood pressure?
            Only about half of these individuals have their condition under control.
            High blood pressure often has no symptoms. Routine visits are the best way
            to effectively manage high blood pressure and prevent serious complications
            like heart disease and stroke.
        </p>
        <p>
            For more information on managing high blood pressure, please see this
            <a href="http://mayoclinic.org" target="_blank">additional resource</a>.
        </p>
        <footer class="morelessline">
            <span class="opacitymask"></span>
            <span class="morelessdivider">
                <a class="p-showmoreless morelesslabel" data-inst-for="<%= apptId %>">Show more</a>
                <span class="more"></span>
            </span>
        </footer>
    </div>
    <% } %>
</div>