<div class="request-wrapper-confirm">
	<header class="trail">
		<h3>Appointment Request Sent</h3>
		<span class="emptycircle"></span>
		<span class="emptycircle"></span>
		<span class="filledcircle"></span>
	</header>
	
	<div class="confirm-message">
		<h2><img src="content/img/greencheckmark.png">Thank you! We have received your appointment request.
		<br/>Expect a reply within two business days.</h2>
	</div>
	
	<h1>Appointment Preferences</h1>
	<div class="review-appt-banner">
		<div class="review-bannerbox">
			<table>
				<tbody>
					<tr>
						<th class="provider">APPOINTMENT</th>
						<th class="location">LOCATION</th>
						<th class="date">DATE</th>
						<th class="time">TIME</th>
					</tr>
					<tr>
						<td>
							<p class="appt-type-review"><%= parLabel %></p>
							<p><%= providerName %></p>
						</td>
						<td><p><%= bestLocation %></p></td>
						<td>
							<p>
								<%= dayLabel %>
								<br />
								<%= selectedDate %>
							</p>
						</td>
						<td><p><%= bestTime %></p></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>		
	<div class="confirmBtns">
		<button id="backBtn" class="p-backToAppts" type="button">Back to Appointments</button>
	</div>	
</div><!--end-->