@import "facit.css";

a {
    color: #867796;
    cursor:pointer;
    font-family: FacitWeb-Light,Arial,Verdana;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

    a:hover {
        color: #534462;
        text-decoration: none;
    }

    a:active {
        color: orange;
        text-decoration: none;
    }

    a:visited {
        color: #514a79
    }

    a:link {
        color: #514a79;
    }

h1, h2, h3, h4, h5, h6 {
    color: #514a79;
    font-family: FacitWeb,Arial,Verdana;
    margin: 0;
    padding: 0;
    font-weight:normal;
}

span {
    color: #666;
    font-family: FacitWeb,Arial,Verdana;
    margin: 0;
    padding: 0;
}

div, p {
    font-family: FacitWeb,Arial,Verdana;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
   font-family:FacitWeb-Light,Arial,Verdana;
}

.allLink {
   font-size:11px;
}

.filterBarButton {
   font-size:13px;
}

.pathItem {
   color:
   font-size:11px;
}

.selectedTreeItem {
   background: #89869d;
   color: white;
   font-family:FacitWeb-Semibold;
}

.treeColumnScroller {
   font-size:12px;
}

#addAnotherLink {
   font-size:12px;
}