<span class="hero"></span>
<div class="appointmenthome">
	<div class="parselectionarea">
		<div class="shortparslist">
			<% if (offline) { %>
			<div class="unavailable">
				<h1 class="warniconwhite">
					Online scheduling is not currently available. To
					request an appointment please <a>send us a message</a>
					or call the office.
				</h1>
			</div>
			<% } else { %>
			<div class="transparentbox"></div>
			<section class="schnewcontrol">
				<h1>I'd like to schedule a new appointment</h1>
				<div class="parmenu"></div>
			</section>
			<% } %>
		</div>
		<div class="animated parbackgroundbox"></div>
		<div class="animated largeparselector"></div>
	</div>
	<div class="otherappointments">
		<div class="p-tabs tabs">
			<div class="tabcontainer">
				<span class="tab active" data-tab="tab1">
					<label class="active badged">
						<% if (numRecommendedAppts>0) { %>
						<span class="recbadge"><%= numRecommendedAppts %></span>
						<% } %>
						Recommended
					</label>
				</span>
				<span class="tab" data-tab="tab2">
					<label>Upcoming</label>
				</span>
			</div>
			<section id="tab1" class="tab-panel recommendedappts active">
				<% if (numRecommendedAppts>0) { %>
				<% if (numRecommendedAppts>1) { %>
				<p>Our practice has recommended you schedule the following appointment(s).</p>
				<% } else { %>
				<p>Our practice has recommended you schedule the following appointment.</p>
				<% } %>
				<div class="upheader">
					<div class="appthead">Appointment</div>
					<div class="datetimehead">Suggested Date</div>
				</div>
				<div class="recommendedrows apptsummarytable"></div>
				<% } else { %>
				<p>You have no recommended appointments.</p>
				<% } %>
			</section>
			<section id="tab2" class="tab-panel upcomingappts">
				<% if (numUpcomingAppts>0) { %>
				<p>Save time when you arrive at our office by checking in to the below upcoming appointments online.</p>
				<div class="upheader">
					<div class="appthead">Appointment</div>
					<div class="datetimehead">Date, Time, and Location</div>
				</div>
				<div class="upcomingrows apptsummarytable"></div>
				<% } else { %>
				<p>You have no upcoming appointments.</p>
				<% } %>
			</section>
			
		</div>
		<section class="pastappts">
			<select class="timerangeselect">
				<option>Past 6 months</option>
				<option>Past year</option>
				<option>All appointments</option>
			</select>
			<h1>Past</h1>
			<p>
				Your past appointments appear below. You may view your <a href="#">care summaries</a>
				for more information on these past visits, including instructions from your provider(s).
			</p>
			<table class="pastappointments">
				<tr>
					<th>Appointment</th>
					<th>Date</th>
					<th>Time</th>
					<th>Location</th>
				</tr>
				<tr>
					<td>
						<strong>Sick Visit</strong>
						<br />
						Gary M. Salters
					</td>
					<td>04/21/2015</td>
					<td>9:30AM</td>
					<td>Somerset Main Office</td>
				</tr>
				<tr>
					<td>
						<strong>Sick Visit</strong>
						<br />
						Luiza A. Rocha, MD
					</td>
					<td>03/26/2015</td>
					<td>9:30AM</td>
					<td>Somerset Main Office</td>
				</tr>
				<tr>
					<td>
						<strong>Follow Up</strong>
						<br />
						Luiza A. Rocha, MD
					</td>
					<td>03/16/2015</td>
					<td>10:00AM</td>
					<td>Somerset Main Office</td>
				</tr>
				<tr>
					<td>
						<strong>Sick Visit</strong>
						<br />
						Luiza A. Rocha, MD
					</td>
					<td>02/20/2015</td>
					<td>10:15AM</td>
					<td>Dumont Medical</td>
				</tr>
				<tr>
					<td>
						<strong>Sick Visit</strong>
						<br />
						Luiza A. Rocha, MD
					</td>
					<td>02/05/2015</td>
					<td>1:45AM</td>
					<td>Dumont Medical</td>
				</tr>
				<tr>
					<td>
						<strong>New Patient</strong>
						<br />
						Luiza A. Rocha, MD
					</td>
					<td>11/22/2015</td>
					<td>10:30AM</td>
					<td>Dumont Medical</td>
				</tr>
			</table>
		</section>
	</div>
</div>
