<div class="wrapper-confirm">
	<header>
		<div class="confirm-message">
			<h2>
				<img src="content/img/whitecheckmark.png" />Thank you! Your appointment has been scheduled.
				<br />
				We have sent an email confirmation.
			</h2>
		</div>
	</header>
	<h2>Appointment Information</h2>
	<div class="confirm-appt-banner">
		<div class="confirm-bannerbox">
			<table>
				<tbody>
					<tr>
						<th class="provider">Appointment</th>
						<th class="location">Location</th>
						<th class="date">Date and Time</th>
					</tr>
					<tr>
						<td>
							<p class="appt-type-confirm"><%= parLabel %></p>
							<p><%= providerName %></p>
						</td>
						<td>
							<p><%= location %></p>
						</td>
						<td>
							<p>
								<%= fullDateLabel %> at <%= apptTime %>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="patient-instructions">

		<div class="youraddldetails">
			<h2>Your Notes</h2>
			<p>
				The patient typed this in the previous step so we're showing it here. This is just a way for
				them to review what they wrote. It would also show up if they printed this page. If nothing
				was written (and not required) then this column would go away and there'd just be two 
				columns on this page.
			</p>
		</div>

		<div class="patient-info">
			<h2>Patient Instructions</h2>
			<ul>
				<li>Please arrive 15 minutes early and don't you dare park in the back.</li>
				<li>Bring your insurance card</li>
				<li>Bring all prescriptions with you</li>
			</ul>
		</div>

		<div class="directions">
			<h2>Directions to Our Office</h2>
			<p>
				<%= location %>  <span class="divider">|</span>  <a href="#">Get directions</a>
				<br /> 345 Franklin Avenue
				<br /> Wyckoff, NJ 02471
			</p>
			<ul>
				<li>The office entrance is in the back of the building</li>
				<li>Do not park in reserved spots</li>
			</ul>
		</div>
	</div>
	<div class="confirmBtns">
		<p class="feedback-prompt">How was your scheduling experience? <a>Share feedback</a></p>
		<button type="button" class="btn default back-to-appt-btn p-backToAppts">Back to Appointments</button>
	</div>
</div><!--end-->
