<div class="control">
	<div class="p-selectcontrol selectcontrol">
		<div class="p-selecttext selecttext">- Select reason -</div>
	</div>
	<button id="parSelect" class="btn action schedulebtn">Find Appointments</button>
	<div class="p-supermenu supermenu">
		<menu class="parchoices">
			<ul>
				<li data-desc="desc2" data-par="Annual Physical">Annual Physical</li>
				<li data-desc="desc3" data-par="Follow Up">Follow Up</li>
				<li data-desc="desc4" data-par="New Patient">New Patient</li>
				<li data-desc="desc5" data-par="Sick Visit">Sick Visit</li>
				<li data-desc="desc6" data-par="Wellness Visit">Wellness Visit</li>
				<li data-desc="desc7" data-par="Worker's Compensation">Worker's Compensation</li>
				<li data-desc="desc8" data-par="All Reasons">More reasons<span class="rightchevron">&rsaquo;</span></li>
			</ul>
		</menu>
		<div class="descriptionbox">
			<aside id="desc2" class="pardescription">
				<h2>Annual Physical</h2>
				<p>It is time for me to get a annual check-up. Note: Since most insurances will only cover one physical a year, we ask that you please schedule physicals at least a year plus one day from your last one. Please visit your appointment history if you aren't sure when your last one was performed. You may see the appointment reason as Physical or Annual Visit or CEX (our short-hand for complete exam). If in doubt, check with us first before scheduling. Thank you!</p>
			</aside>
			<aside id="desc3" class="pardescription">
				<h2>Follow Up</h2>
				<p>I am an established patient and I need to follow up with my provider about a condition or other issue I have.</p>
			</aside>
			<aside id="desc4" class="pardescription">
				<h2>New Patient</h2>
				<p>I am a new patient looking to establish care with an Internal Medicine physician. I would like to schedule my first visit with your office.</p>
			</aside>
			<aside id="desc5" class="pardescription">
				<h2>Sick Visit</h2>
				<p>I am sick and I would like to see my doctor today, or as soon as possible. NOTE: If you are experiencing a medical emergency, please call 911.</p>
			</aside>
			<aside id="desc6" class="pardescription">
				<h2>Wellness Visit</h2>
				<p>I am a MEDICARE patient and would like to schedule my Annual Wellness Visit. Note: Annual Wellness Visits (also know as an AWV) for Medicare patients MUST be scheduled a year apart. If you do not know if and/or when you had your last AWV, please check with us first before scheduling. Any of these visits scheduled less than a year apart will have to be rescheduled.</p>
			</aside>
			<aside id="desc7" class="pardescription">
				<h2>Worker's Compensation</h2>
				<p>I need to see my provider about a specific work-related injury. NOTE: Please be sure that you have filed your worker's compensation case number with your employer prior to your appointment. Failure to provide the claim information may result in full payment being expected at the time of your visit.</p>
			</aside>
			<aside id="desc8" class="pardescription">
				<h2>Don't see what you're looking for?</h2>
				<p>Click More reasons to view all reasons for scheduling an appointment.</p>
			</aside>
		</div>
	</div>
	<div class="p-parerror parerror">Please select a reason for scheduling your appointment.</div>
</div>