<script type="text/html" id="arAgingCtrl">
    <![CDATA[
    <div>
        <div class="chartTableToggle">
            <ul class="nav nav-pills">
                <li class="active"><a href="#section/finance/" data-route="chartOn" data-kpitype="<%= this.chartType %>" data-section="<%= this.section %>">Chart</a></li>
                <li><a href="#section/finance/" data-route="tableOn" data-kpitype="<%= this.chartType %>" data-section="<%= this.section %>">Table</a></li>
            </ul>
        </div>
        <div class="specificControls">
            <ul class="nav nav-pills">
                <li><a href="#section/finance/">Percent</a></li>
                <li class="active"><a href="#section/finance/">Dollars</a></li>
            </ul>
        </div>
    </div>
    ]]>
</script>
