<script type="text/html" id="defaultCtrl">
    <![CDATA[
    <div>
        <div class="chartTableToggle">
            <ul class="nav nav-pills">
                <li class="active"><a href="#section/finance/" data-route="chartOn" data-kpitype="rvus" data-section="<%= this.section %>">Chart</a></li>
                <li><a href="#section/finance/" data-route="tableOn" data-kpitype="rvus" data-section="<%= this.section %>">Table</a></li>
            </ul>
        </div>
    </div>
    ]]>
</script>
