<div style="width: 210px;" class="filterColumn">
    <ul>
        <li>
            <a id="mon3" class="treeItem">Prior 3 Months</a>
        </li>
        <li>
            <a id="mon6" class="treeItem">Prior 6 Months</a>
        </li>
        <li>
            <a id="mon12" class="treeItem">Prior 12 Months</a>
        </li>
        <li>
            <a id="mon24" class="treeItem">Prior 24 Months</a>
        </li>
        <li>
            <a id="currentYear" class="treeItem">Current Year to Date</a>
        </li>
    </ul>
</div>

<div id="dateFilter_mon3" class="calendarArea" style="display: none">
    <table class="calendarTable">
        <tr>
            <td class="tofrom" colspan="7">From</td>
        </tr>
        <tr>
            <th colspan="4">
                <span class="rightArrow">&#9654;</span>Feb 2013<span class="leftArrow">&#9664;</span>
            </th>
        </tr>
        <tr>
            <td>Jan</td>
            <td class="selected">Feb</td>
            <td>Mar</td>
            <td>Apr</td>
        </tr>
        <tr>
            <td>May</td>
            <td>Jun</td>
            <td>Jul</td>
            <td>Aug</td>
        </tr>
        <tr>
            <td>Sep</td>
            <td>Oct</td>
            <td>Nov</td>
            <td>Dec</td>
        </tr>
    </table>
    <table class="calendarTable">
        <tr>
            <td class="tofrom" colspan="7">To</td>
        </tr>
        <tr>
            <th colspan="4">
                <span class="rightArrow">&#9654;</span>Jun 2013<span class="leftArrow">&#9664;</span>
            </th>
        </tr>
        <tr>
            <td>Jan</td>
            <td>Feb</td>
            <td>Mar</td>
            <td>Apr</td>
        </tr>
        <tr>
            <td>May</td>
            <td class="selected">Jun</td>
            <td>Jul</td>
            <td>Aug</td>
        </tr>
        <tr>
            <td>Sep</td>
            <td>Oct</td>
            <td>Nov</td>
            <td>Dec</td>
        </tr>
    </table>
</div>
<div id="dateFilter_mon6" class="calendarArea" style="display: none">
    <table class="calendarTable">
        <tr>
            <td class="tofrom" colspan="7">From</td>
        </tr>
        <tr>
            <th colspan="4">
                <span class="rightArrow">&#9654;</span>Nov 2012<span class="leftArrow">&#9664;</span>
            </th>
        </tr>
        <tr>
            <td>Jan</td>
            <td>Feb</td>
            <td>Mar</td>
            <td>Apr</td>
        </tr>
        <tr>
            <td>May</td>
            <td>Jun</td>
            <td>Jul</td>
            <td>Aug</td>
        </tr>
        <tr>
            <td>Sep</td>
            <td>Oct</td>
            <td class="selected">Nov</td>
            <td>Dec</td>
        </tr>
    </table>
    <table class="calendarTable">
        <tr>
            <td class="tofrom" colspan="7">To</td>
        </tr>
        <tr>
            <th colspan="4">
                <span class="rightArrow">&#9654;</span>Jun 2013<span class="leftArrow">&#9664;</span>
            </th>
        </tr>
        <tr>
            <td>Jan</td>
            <td>Feb</td>
            <td>Mar</td>
            <td>Apr</td>
        </tr>
        <tr>
            <td>May</td>
            <td class="selected">Jun</td>
            <td>Jul</td>
            <td>Aug</td>
        </tr>
        <tr>
            <td>Sep</td>
            <td>Oct</td>
            <td>Nov</td>
            <td>Dec</td>
        </tr>
    </table>
</div>
<div id="dateFilter_mon12" class="calendarArea" style="display: none">
    <table class="calendarTable">
        <tr>
            <td class="tofrom" colspan="7">From</td>
        </tr>
        <tr>
            <th colspan="4">
                <span class="rightArrow">&#9654;</span>May 2012<span class="leftArrow">&#9664;</span>
            </th>
        </tr>
        <tr>
            <td>Jan</td>
            <td>Feb</td>
            <td>Mar</td>
            <td>Apr</td>
        </tr>
        <tr>
            <td class="selected">May</td>
            <td>Jun</td>
            <td>Jul</td>
            <td>Aug</td>
        </tr>
        <tr>
            <td>Sep</td>
            <td>Oct</td>
            <td>Nov</td>
            <td>Dec</td>
        </tr>
    </table>
    <table class="calendarTable">
        <tr>
            <td class="tofrom" colspan="7">To</td>
        </tr>
        <tr>
            <th colspan="4">
                <span class="rightArrow">&#9654;</span>Jun 2013<span class="leftArrow">&#9664;</span>
            </th>
        </tr>
        <tr>
            <td>Jan</td>
            <td>Feb</td>
            <td>Mar</td>
            <td>Apr</td>
        </tr>
        <tr>
            <td>May</td>
            <td class="selected">Jun</td>
            <td>Jul</td>
            <td>Aug</td>
        </tr>
        <tr>
            <td>Sep</td>
            <td>Oct</td>
            <td>Nov</td>
            <td>Dec</td>
        </tr>
    </table>
</div>
<div id="dateFilter_mon24" class="calendarArea" style="display: none">
    <table class="calendarTable">
        <tr>
            <td class="tofrom" colspan="7">From</td>
        </tr>
        <tr>
            <th colspan="4">
                <span class="rightArrow">&#9654;</span>May 2011<span class="leftArrow">&#9664;</span>
            </th>
        </tr>
        <tr>
            <td>Jan</td>
            <td>Feb</td>
            <td>Mar</td>
            <td>Apr</td>
        </tr>
        <tr>
            <td class="selected">May</td>
            <td>Jun</td>
            <td>Jul</td>
            <td>Aug</td>
        </tr>
        <tr>
            <td>Sep</td>
            <td>Oct</td>
            <td>Nov</td>
            <td>Dec</td>
        </tr>
    </table>
    <table class="calendarTable">
        <tr>
            <td class="tofrom" colspan="7">To</td>
        </tr>
        <tr>
            <th colspan="4">
                <span class="rightArrow">&#9654;</span>Jun 2013<span class="leftArrow">&#9664;</span>
            </th>
        </tr>
        <tr>
            <td>Jan</td>
            <td>Feb</td>
            <td>Mar</td>
            <td>Apr</td>
        </tr>
        <tr>
            <td>May</td>
            <td class="selected">Jun</td>
            <td>Jul</td>
            <td>Aug</td>
        </tr>
        <tr>
            <td>Sep</td>
            <td>Oct</td>
            <td>Nov</td>
            <td>Dec</td>
        </tr>
    </table>
</div>

<div id="dateFilter_currentYear" class="calendarArea" style="display: none">
    <table class="calendarTable">
        <tr>
            <td class="tofrom" colspan="7">From</td>
        </tr>
        <tr>
            <th colspan="4">
                <span class="rightArrow">&#9654;</span>Jan 2013<span class="leftArrow">&#9664;</span>
            </th>
        </tr>
        <tr>
            <td class="selected">Jan</td>
            <td>Feb</td>
            <td>Mar</td>
            <td>Apr</td>
        </tr>
        <tr>
            <td>May</td>
            <td>Jun</td>
            <td>Jul</td>
            <td>Aug</td>
        </tr>
        <tr>
            <td>Sep</td>
            <td>Oct</td>
            <td>Nov</td>
            <td>Dec</td>
        </tr>
    </table>
    <table class="calendarTable">
        <tr>
            <td class="tofrom" colspan="7">To</td>
        </tr>
        <tr>
            <th colspan="4">
                <span class="rightArrow">&#9654;</span>Jun 2013<span class="leftArrow">&#9664;</span>
            </th>
        </tr>
        <tr>
            <td>Jan</td>
            <td>Feb</td>
            <td>Mar</td>
            <td>Apr</td>
        </tr>
        <tr>
            <td>May</td>
            <td class="selected">Jun</td>
            <td>Jul</td>
            <td>Aug</td>
        </tr>
        <tr>
            <td>Sep</td>
            <td>Oct</td>
            <td>Nov</td>
            <td>Dec</td>
        </tr>
    </table>
</div>
