<div id="panelContents">

    <div id="helpContents">
        <h1>Chart Reference</h1>
        <p>
            Need Help? Contact the athenaClarity Support Center (CSC) at 
            1-888-967-2843 or clarityhelp@athenahealth.com, 
            Mon-Fri 9 am - 5 pm EST.
        </p>
        <br />
        <h2>Days in Accounts Receivable</h2>
        <p>
            The Days in Accounts Receivable (DAR) Trend widget tracks the 
            historical pattern of DAR and AR balance. DAR is calculated by 
            using the month end total AR divided by total charges for the most 
            recent 3 months divided by 91. Vertical bars represent the 
            selected metric at the end of each month (labeled in the 
            horizontal axis), the yellow line represents the trend line as 
            defined by the trend drop-down in the toolbar, and red diamonds 
            represent benchmarks. View by days in AR (DAR) or AR dollars (AR$).
        </p>
        <br />
        <h2>Denials</h2>
        <p>
            The Denial Trend widget displays posted denials based on Month of 
        Transaction. A charge is considered denied when an actionable
        rejection code is posted to it. Vertical bars represent denied
        charges posted in the month, the yellow line represents the trend line
        as defined by the trend drop-down in the toolbar, and red diamonds
        represent benchmarks. View by charge dollars (chg) or volume (vol).
        </p>
    </div>
</div>
<a class="hideLink" data-route="contractSidebar">Hide</a>
<div id="controls">
    <a id="expand" data-route="toggleSidebar">
        <p>
            <img src="img/help.png" />
        </p>
    </a>
    <span style="display: block; height: 30px;">&nbsp;</span>
    <p>
        <img src="img/config.png" />
    </p>
    <span style="display: block; height: 30px;">&nbsp;</span>
    <a id="print" data-route="togglePresentationMode">
        <p>
            <img src="img/print.png" />
        </p>
    </a>
</div>
