<div id="panelContents">
    <!-- partial/kpiControls.html or partial/presentationControls.html -->
</div>
<a class="hideLink" data-route="contractSidebar">Hide</a>
<div id="controls">
    <p>
        <img src="img/help.png" />
    </p>
    <span style="display: block; height: 30px;">&nbsp;</span>
    <a id="expand" data-route="toggleKpiOrder">
        <p>
            <img src="img/config.png" />
        </p>
    </a>
    <span style="display: block; height: 30px;">&nbsp;</span>
    <a id="print" data-route="togglePresentationMode">
        <p>
            <img src="img/print.png" />
        </p>
    </a>
</div>
