<div id="presentationFilters">
    <div>
        <div class="filterTab">
            <p id="dateFilter">Prior 24 Months</p>
        </div>
        <div class="filterTab">
            <p id="hierarchyFilter">Total > Medicine 1 > Infectious Disease</p>
        </div>
        <div class="filterTab">
            <p id="payerFilter">Original Payer Class</p>
        </div>
    </div>
</div>
<a id="printExitLink" data-route="exitPrintPreview">Close</a>
<div id="printContentContainer">
    <p style="margin:0 0 20px 0;left:-10px;position:relative;">Print:</p>
    <ul>
        <!-- Charts/tables go in here -->
    </ul>
    <span style="display:block;height:20px"></span>
    <div class="buttonContainer">
        <span id="printButton" class="applyBtn" style="float:left;margin-right:20px" data-route="openPrintDialog">Print</span>
        <span id="cancelButton" class="cancelBtn" style="float:left" data-route="exitPrintPreview">Cancel</span>
    </div>
    <span style="display:block;height:20px"></span>
</div>
