<script type="text/x-jqote-template" id="treeColumnGroupedItemTpl">
	<![CDATA[
	<ul>
	<% 
    var groupName = "ungrouped";
	var checked="";
    for (var i=0; i<this.models.length; i++) { 
    %>
    <% if (this.models[i].get("group")!==groupName) { 
        groupName=this.models[i].get("group"); 
	%>
        <li id="<%=this.models[i].get("category") %>_groupChecks" class="treeColumnLiGroup">
            <input id="<%=this.models[i].get("category")%>_<%= this.models[i].get("groupId") %>_checkbox" type="checkbox" data-gid="<%=this.models[i].get("groupId") %>">
            <p><%= this.models[i].get("group") %></p>
        </li>
    <% } %>
		<li id="<%=this.models[i].get("category") %>_<%= this.models[i].get("mid") %>" class="treeColumnLiUnselected"><%= this.models[i].get("name") %></li>
	<% } %>
	</ul>
	]]>
</script>
