<section class="dialog-message">
    <div class="dialog-text">
        <p>
            Well visits include a complete check-up of a teen's growth and development
            which can help to find and prevent any problems. Regular check-ups are also
            a good opportunity to discuss how to best keep teens healthy.
        </p>
        <br />
        <p>
            For more information on the importance of well visits for teens, please see this
            <a href="http://www.athenahealth.com" target="_blank">additional resource</a>.
        </p>
    </div>
</section>
