<section class="requestform">
	<p><%= introCopy %></p>
	<div class="topblock">
		<div class="reqprovider">
			<h4>Provider</h4>
			<select id="providerchoice" name="providers">
				<option value="-1">-No Preference-</option>
				<option value="1">Luiza A. Rocha, MD</option>
				<option value="76">Gary M. Salters, MD</option>
				<option value="53">Sarah Abt, MD</option>
				<option value="-2">Rick C. Gonzalez, MD</option>
				<option value="-3">Kevin Faulk, MD</option>
			</select>
		</div>
		<div class="reqlocation">
			<h4>Location<sup class="requiredasterisk">*</sup></h4>
			<select id="officechoice" name="offices">
				<option value="-1">-No preference-</option>
				<option value="Somerset Main Office">Somerset Main Office</option>
				<option value="Blackwood Clinic">Blackwood Clinic</option>
				<option value="Waldwick - Douglas Medical Center">Waldwick - Douglas Medical Center</option>
				<option value="Dumont Medical">Dumont Medical</option>
				<option value="NYC Clinic">NYC Clinic</option>
				<option value="Riverside Medical">Riverside Medical</option>
				<option value="Park Ridge Medical">Park Ridge Medical</option>
				<option value="Wayne Clinic">Wayne Clinic</option>
			</select>
			<p class="p-office-validation-note office-validation-note formerrormsg">Location is required.</p>
		</div>
	</div>
	<div class="leftblock">
		<div class="reqday">
			<h4>Days of Week</h4>
			<div class="dayinputs">
				<div class="day1">
					<div class="mousecheck nopreferencecheck">
						<input id="nopref" type="checkbox" checked="checked" />
						<label for="nopref" class="checklabel">No preference</label>
					</div>
					<div class="mousecheck">
						<input id="monday" type="checkbox" />
						<label for="monday" class="checklabel">Mondays</label>
					</div>
					<div class="mousecheck">
						<input id="tuesday" type="checkbox" />
						<label for="tuesday" class="checklabel">Tuesdays</label>
					</div>
					<div class="mousecheck">
						<input id="wednesday" type="checkbox" />
						<label for="wednesday" class="checklabel">Wednesdays</label>
					</div>
				</div>
				<div class="day2">
					<div class="mousecheck">
						<input id="thursday" type="checkbox" />
						<label for="thursday" class="checklabel">Thursdays</label>
					</div>
					<div class="mousecheck">
						<input id="friday" type="checkbox" />
						<label for="friday" class="checklabel">Fridays</label>
					</div>
					<div class="mousecheck">
						<input id="saturday" type="checkbox" />
						<label for="saturday" class="checklabel">Saturdays</label>
					</div>
					<div class="mousecheck">
						<input id="sunday" type="checkbox" />
						<label for="sunday" class="checklabel">Sundays</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="rightblock">
		<div class="reqtime">
			<h4>Times</h4>
			<div class="timeinputs">
				<div class="mousecheck nopreferencecheck">
					<input id="nopreftime" type="checkbox" checked="checked" />
					<label for="nopreftime" class="checklabel">No preference</label>
				</div>
				<div class="mousecheck">
					<input id="morningTime" type="checkbox" />
					<label for="morningTime" class="checklabel">Morning</label>
				</div>
				<div class="mousecheck">
					<input id="afternoonTime" type="checkbox" />
					<label for="afternoonTime" class="checklabel">Afternoon</label>
				</div>
				<div class="mousecheck">
					<input id="eveningTime" type="checkbox" />
					<label for="eveningTime" class="checklabel">Evening</label>
				</div>
			</div>
		</div>
	</div>

	<h4>Message<sup class="requiredasterisk">*</sup></h4>
	<textarea id="reqmessage"></textarea>
	<p class="p-msg-validation-note msg-validation-note formerrormsg">Please add a reason for your visit.</p>
	<p class="charcountlabel">500 of 500 characters</p>
	<p class="urgent-note">Note: For urgent questions, please call our office. If you are experiencing a medical emergency, dial 911.</p>
</section> 